<head>
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(function(){
          $("select#makes").change(function(){
            $.getJSON("/autos/" + $(this).val(), function(result){
              $.each(result, function() {
                 $("select#models").append($("<option />").val(this.value).text(this.title));
        });
            })
          })
        })
    </script>
    <script>
        $( document ).ready(function()
        {
          $.getJSON("/autos/", {id: $(this).val(), ajax: 'true'}, function(result)
          {
            $.each(result, function()
            {
               $("select#makes").append($("<option />").val(this).text(this));
            });
          });
        });


    </script>
</head>
<body>
    <select id='makes' onchange='get_models()'>
    </select>
    <select id='models'>
    </select>
</body>
